[project]
	description = Template for starting project with Flask using peewee as ORM
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Itxaka
[access "refs/for/refs/*"]
	read = group user/Itxaka
	push = group user/Itxaka
	label-Code-Review = -2..+2 group user/Itxaka
	label-Verified = -1..+1 group user/Itxaka
	rebase = group user/Itxaka
	removeReviewer = group user/Itxaka
	submit = group user/Itxaka
[access "refs/heads/*"]
	read = group user/Itxaka
	create = group user/Itxaka
	push = +force group user/Itxaka
	pushMerge = group user/Itxaka
[access "refs/tags/*"]
	push = +force group user/Itxaka
	pushTag = group user/Itxaka
	pushSignedTag = group user/Itxaka
