<!DOCTYPE html>
<html>
<head>
    <title></title>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="{{  url_for("static", filename="main.css") }}" rel="stylesheet">
</head>
<body>
<div id="messages" hidden="hidden">
{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
    {% for msg in errors %}
    <div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {{ msg }}
</div>
    {% endfor %}
{% endif %}
{% endwith %}

{% with errors = get_flashed_messages(category_filter=["success"]) %}
{% if errors %}
    {% for msg in errors %}
    <div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {{ msg }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
</div>
{% block content %}
{% endblock %}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script>$('#messages').slideDown(1500)</script>
<script>setTimeout(function(){$('#messages').slideUp(1500)}, 3000)</script>
</body>
</html>